/* meyer CSS reset
*/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, form {
  color:  #222;
  margin: 0;
	padding: 0;
/*	border: 1px solid #bada55;*/
	font: 100% Roboto, sans-serif;
	vertical-align: baseline;
}
/*font: font-style font-variant font-weight font-size/line-height font-family;
You need to supply at least font-size and font-family for the shorthand to work, otherwise it'll just be a syntax error and do nothing.*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* begin actual new work */
body{
  background-color: #ffffff;
  position: relative;
}
/* top nav */
a {
  cursor: pointer;
  font-size: 13px;
  margin: 11px 6px 11px 6px;
  display: inline-block;
}
a:hover{
  cursor: pointer;
  font-size: 13px;
  text-decoration: underline;
}
a:visited{
  color: #609;
}
.header{
background-color: #bada55;
width: 100%;
height: 40px;
top: 0px;
}
.header-left{
background-color: yellow;
padding-left: 30px;
margin-right: -30px;
float: left;
height: 40px;
width: 50%;
display: inline-block;
}
.header-right{
background-color: pink;
padding-right: 30px;
margin-left: -30px;
float: right;
height: 40px;
width: 50%;
display: inline-block;
}
.inherit{
float: inherit;
}
.view{
float: right;
}
.alert{
float: right;
}
.head{
float: right;
}
/* big utility sprite */ https://ssl.gstatic.com/gb/images/i1_1967ca6a.png
/* my userhead */ https://lh3.googleusercontent.com/-7iQTMHEhsAc/AAAAAAAAAAI/AAAAAAAAAAA/ACLGyWB9lJwqt5v8y2uwb3Rl3cwMccOvqg/s32-c-mo/photo.jpg



/* Logo, search box, and buttons */
.formcontainer{
  margin: 0 auto;
}
.google{
 width: 272px;
 height: 92px;
 margin: 0 auto 24px auto;
 display: block;
}
.textarea{
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  width: 403px;
  height: 34px;
  resize: none;
  float: left;
  display: inherit;
  postion: 0 0 -34px 0;
}
.textbox{
  border: 1px solid;
  border-color: lightgray;
  border-radius: 3px;
  box-shadow: 0px 2px 3px 0px lightgray;
/* in order: x offset, y offset, blur size, spread size, color */
/* blur size and spread size are optional (they default to 0) */
  width: 484px;
  height: 44px;
  resize: none;
  margin: 0 auto;
  padding: 6px 9px 0px 16px;
}

.voice{
width: 18px;
height: 23px;
margin-top: 10px;
margin-left: 8;
margin-bottom: 10px;
margin-right: 8;
float: right;
cursor: pointer;
}
.centercenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button {
  margin: 11px 6px 11px 6px;
  padding: 0 16px 0 16px;
  border-radius: 2px;
  background-color: linear-gradient(#f5f5f5, #f1f1f1);
  height: 34px;
  display: inline;
  font-size: 100%;
  color: #757575;
  font-weight: bold;

}
button:hover{
  border: 1px solid;
  border-color: #757575;
  background-color: #D3D3D3;
}
.button-left{
  float: left;
/*  background-color: #bada55;*/
  height: 56px;
  width: 50%;
  display: inline-block;
}
.search{
  float: right;
}
.button-right{
  float: right;
/*  background-color: pink;*/
  height: 56px;
  width: 50%;
  display: inline-block;
}
.lucky{
  float: left;
}
/* footer stuff */
.footer{
background-color: #bada55;
width: 100%;
height: 40px;
bottom: 0px;
}
.footer-left{
background-color: yellow;
padding-left: 30px;
margin-right: -30px;
float: left;
height: 40px;
width: 50%;
display: inline-block;
}
.footer-right{
background-color: pink;
padding-right: 30px;
margin-left: -30px;
float: right;
height: 40px;
width: 50%;
display: inline-block;
}
