/* meyer CSS reset
*/
html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, form {
  color:  #fefefe;
  margin: 0;
	padding: 0;
	border: 1px solid #bada55;
	font: 100% sans-serif;
	vertical-align: baseline;
}
/*font: font-style font-variant font-weight font-size/line-height font-family;
You need to supply at least font-size and font-family for the shorthand to work, otherwise it'll just be a syntax error and do nothing.*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* begin actual new work */
body{
  background-color: #ffffff;
}
.formcontainer{
  margin: auto;
  width: 50%;
  border: 1px solid green;
}
#google{
 width: inherit;
}
textarea{
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: baseline;
  width: 410px;
  height: 42px;
  resize: none;
  float: left;
}
#textbox{
  border: 1px solid #bada55;
/*  border-color: #f7f7f7; */
  border-radius: 3px;
  box-shadow: 0px 2px 2px 0px #bada55;
/* in order: x offset, y offset, blur size, spread size, color */
/* blur size and spread size are optional (they default to 0) */
  width: 428px;
  height: 44px;
  resize: none;
  margin: 0;
  padding: 0;
}

#voice{
width: 18px;
height: 23px;
margin-top: 10px;
margin-left: 0;
margin-bottom: 10px;
margin-right: 0;
padding: 0;
float: right;
}

#search{
float: left;
}
#lucky{
float: right;
}
